@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap&subset=korean');
@import 'form.css';
@import 'greetings.css';
@import 'weather.css';
@import 'todolist.css';
body {
  font-family: 'Stylish', sans-serif;
  color: white;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

h2 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}
/* 처음 화면에 이름을 입력하기 전까지 안보이도록 함 
form 입력하는 곳은 greeting.js에서 로그인한 아이디가 없을때 보이도록 설정함
function askForName() {
  form.classList.add(SHOWING_CN)
  form.addEventListener('submit', handleSubmit)
}*/

.form,
.greetings,
.js-toDoForm,
.toDoTitle,
.js-toDoList {
  display: none;
}

.showing-toDo {
  display: block;
}
.showing {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out;
}
.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(120, 100%, 36%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  font-size: 28px;
  padding: 0px 40px;
  line-height: 1.7;
  display: none;
}
@media screen and (min-width: 1700px) {
  .bigScreen {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
  }
}

.js-clock {
  margin-top: 250px;
  margin-bottom: 20px;
}
.js-clock h1 {
  font-size: 60px;
  font-weight: 700;
}

.greetings {
  font-size: 30px;
}
